div.thumbnail {
  padding: 10px !important;
  font-size: 26px !important;
  font-family: "Comic Sans MS";
  border: 0px;
}

div.operand {
  float: left;
  padding: 5px;
  margin-top:16px;
}

div.computationNumber {
  float: left;
  text-align:right;
}

div.lowerValueLine {
  border-bottom: 2px solid #000;
  margin-bottom: 5px;
}
.thumbnail span {
  float:left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.answer-box {
  width: 60px;
  text-align: right
}
